#header-nav {
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;

    #logo {
        cursor: pointer;
        &:hover {
            opacity: 0.6;
            transition: var(--hoverTransition);
        }
    }
}
